textarea {
    width: 100%;
    resize: none;
    padding: 2px;
//    white-space: pre-line;
}

.textareaClone {
    white-space: pre-line;
}

#templateDescription {
    position: relative;
    height: 70px;
}

input {
    width: 100%;
    padding: 2px;
}

.smallColumns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
}

.sortable {
    position: relative;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
    cursor:default;
 }
 
.sortable li {
    position: relative;
    display: inline-block;
    margin: 0px 0px 5px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    height: 18px;
    width: 90%;
}

.sortable .ui-state-highlight {
    margin: 0px 0px 2px 0px !important;
}

.sortable li .ui-icon {
    position: absolute;
    margin-left: -1.3em;
}

.sortable li .order {
    margin-right: .5em;
}

.sortable li .title,
.sortable li .editTitle {
    position: absolute;
    display: block;
    top: 5px;
    bottom: 5px;
    left: 40px;
    right: 140px;
    z-index: 90;
}

.simpleList li .title,
.simpleList li .editTitle {
    right: 40px;
}

.sortable li .editTitle {
    display: none;
}

.sortable li .editTitle input {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 14px;
    padding: 0px;
    z-index: 100;
}

.sortable li button {
    position: absolute;
    right: 5px;
    padding: 2px;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    width: 20px;
}

.sortable li select {
    position: absolute;
    right:30px;
}

.pageContent h2 button {
    float: right;
    padding: 2px;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    width: 20px;
}

.template {
    display: none;
}

.pageAttributes .row {
    position: relative;
    height: 20px;
}

.pageAttributes input {
    display: block;
    width: 55%;
    float:left;
    height: 20px;
    padding: 2px;
    border: 1px solid #cccccc;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
}


.pageAttributes .ui-spinner {
    width: 54%;
    height: 17px;
}

.pageAttributes .ui-spinner input {
    width: 74%;
    padding: 0px;
    border: 0px;
    height: auto;
}

.pageAttributes .ui-icon {
    position: absolute;
    right: 2px;
    top: 2px;
}

.pageAttributes .image-title {
    width: 100%;
    float: none;
}
