textarea {
    width: 100%;
    resize: none;
    padding: 2px;
    font-family: "Lucida Console", Monaco, monospace;
//    white-space: pre-line;
}

.textareaClone {
    white-space: pre-line;
}

#templateDescription {
    position: relative;
    height: 70px;
}

input {
    width: 100%;
    padding: 2px;
    font-family: "Lucida Console", Monaco, monospace;
}

.smallColumns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
}

.pageContent h2 button {
    float: right;
    padding: 2px;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    width: 20px;
}

.template {
    display: none;
}

#uploadBox {
	position: fixed;
	display: none;
	top: 25%;
	left: 50%;
	margin-top: -75px;
	margin-left: -125px;
	width: 200px;
	padding-left: 25px;
	padding-right: 25px;
	background: white;
	z-index:999;
    border-radius: 10px;
}

/*
 * Sortable
 */


.sortable {
    position: relative;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
    cursor:default;
}
 
.sortable li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    border-width: 0px;
    border-style: solid;
    margin-bottom: 5px;
}
 
.sortable li .listItemContent {
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
}

.sortable .ui-state-highlight {
    margin: 0px 0px 2px 0px !important;
}


.sortable li select {
    position: absolute;
    right:30px;
}



/*
 * Lists
 */
.listItemContent .row {
    position: relative;
    min-height: 24px;
}

.listItemContent .rowBig {
    min-height: 84px;
}

.listItemContent .ui-icon,
.listItemContent .order {
    float:left;
    line-height: 20px;
    height: 20px;
    margin: 2px;
}
.listItemContent .order {
    width: 21px;
}

.listItemContent .btnDelete {
    float: right;
    padding: 2px;
    margin: 2px;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    width: 20px;
    height: 20px;
}

.listItemContent .inpTitle,
.listItemContent .inpDetailFull,
.listItemContent .inpSubdetailFull,
.listItemContent .inpTitleSelect,
.listItemContent .inpTopSelect,
.listItemContent .inpMiddleSelect,
.listItemContent .inpBottomSelect {
    position: absolute;
    width: auto;
    height: 20px;
    right: 25px;
    left: 45px;
    margin: 2px;
    background-color: white;
}

.listItemContent .inpTitleSmall,
.listItemContent .inpTitleSelectSmall,
.listItemContent .inpDetailSmall,
.listItemContent .inpSubdetailSmall {
    position: absolute;
    width: auto;
    height: 20px;
    right: 25px;
    left: 135px;
    margin: 2px;
    background-color: white;
}

.listItemContent .inpTitleDate,
.listItemContent .inpDetailDate,
.listItemContent .inpSubdetailDate {
    position: absolute;
    width: auto;
    height: 20px;
    width: 85px;
    left: 45px;
    margin: 2px;
}


.listItemContent .inpMore {
    position: absolute;
    width: auto;
    height: 80px;
    right: 25px;
    left: 45px;
    margin: 2px;
    background-color: white;
}

/* Template edit list items */
.listItemContent .inpType {
    position: absolute;
    width: auto;
    height: 20px;
    width: 145px;
    left: 45px;
    margin: 2px;
}

.listItemContent .inpSection,
.listItemContent .inpAttribute {
    position: absolute;
    width: auto;
    height: 20px;
    right: 25px;
    left: 195px;
    margin: 2px;
    background-color: white;
}


/* Attributes */
.pageAttributes .row {
    position: relative;
    min-height: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.pageAttributes label {
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.pageAttributes data {
    display: block;
    position: absolute;
    right: 0px;
    left: 105px;
    float:left;
    min-height: 20px;
    width: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.pageAttributes .row input {
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    height: 20px;
    width: auto;
    padding: 2px;
    border: 1px solid #cccccc;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
}

.pageAttributes .row input.small {
    right: 24px;
}

.pageAttributes .row img.icon {
    position: absolute;
    widht: 20px;
    height: 20px;
    right: 0px;
    cursor: pointer;
}

.pageAttributes .row button {
    position: absolute;
    padding: 2px;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    width: 20px;
    height: 20px;
    right: 0px;
    cursor: pointer;
}

